/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	margin: 0;
	font-family: "DejaVu LGC Sans Light", "Century Gothic", "sans-serif";
	background-color: #5c9d5c;
	background-image: url("back.png");
	background-repeat: no-repeat;
	background-position: top right;
}

a, a:visited {
	color: white;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

header > div {
	width: 1004px;
	padding: 10px;
	margin: 0 auto;
}

header {
	margin-bottom: 30px;
	padding-top: 30px;
	height: 80px;
	
	background: #5c9d5c;
	background: -moz-linear-gradient(top, #000000, #5c9d5c);
  	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#5c9d5c));
  	background: -webkit-linear-gradient(top, #000000, #5c9d5c);
  	background: -o-linear-gradient(top, #000000, #5c9d5c);
  	background: -ms-linear-gradient(top, #000000, #5c9d5c);
  	background: linear-gradient(top, #000000, #5c9d5c);
}

header h1 {
	float: left;
	margin: 0px;
	margin-left: 200px;
	
	font-size: 2.5em;
	color: white;
}

header #trollFace {
	margin-top: -40px;
	margin-left: 500px;
	
	height: 110px;
	width: 120px;
	
	background-image: url("trollFace.png");
}

#index, #game {
	padding: 15px;
	
	width: 994px;
	margin: 0 auto;
	border: solid black 1px;
	
	background: white;
}

#game #leftColumn {
	float: left;
	width: 500px;
}

#game #leftColumn #chrono {
	color: red;
	font-weight: bold;
}

#game #rightColumn {
	margin-left: 500px;
	text-align: center;
}

#game > p {
	clear: left;
	text-align: center;
}
