<footer>
	<div>
		<p id="authors">
			Créé par <a href="http://fabienbrossier.fr">Fabien BROSSIER</a>
			et <a href="http://zouig.org">Christophe DESCLAUX</a>
		</p>
		<p id="nbWords">
			<span class="bold"><%= @wordsCount %></span> mots dans la base !
		</p>
	</div>
</footer>
